@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../../../public/assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../../../public/assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../../public/assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../../../public/assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../../../public/assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("../../../public/assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("../../../public/assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.map-page {
  height: 100dvh !important;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: orange;
  background-image: url(./img/fire.png);
  transform: translate(-25%, -25%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.2rem;
}
