@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("/public/assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("/public/assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/public/assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/public/assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("/public/assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("/public/assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("/public/assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: orange;
  background-image: url("/public/assets/img/fire.png");
  transform: translate(-25%, -25%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.flami-icon-marker {
  width: 4.3rem !important;
  height: 4.3rem !important;
  pointer-events: none !important;
}

.flami-icon-marker > :first-child {
  transform: translate(-50%, -50%);
}

.leaflet-container {
  height: 100% !important;
}

main .leaflet-popup-content p {
  margin: 4px 0 !important;
  color: #fafafa !important;
}

main .leaflet-popup-tip {
  background-color: #656565 !important;
}

main .leaflet-popup-content-wrapper {
  background-color: #656565 !important;
}

main .leaflet-container a.leaflet-popup-close-button {
  color: #fafafa !important;
}

main .leaflet-popup {
  border-radius: 8px !important;
}

.badge-cover {
  transition: 1s cubic-bezier(0.62, -0.02, 0, 1.08);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  user-select: none;
}

.badge-cover img.side-cover {
  transform: rotateY(0deg) translateZ(-1px);
}

.badge-reverse {
  transform: rotateY(180deg);
}

.animate-slide {
  animation: slide 10s linear;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/* .driver-popover-arrow {
  border: 5px solid #656565;
} */

.driver-popover {
  color: #fafafa;
  background-color: #656565;
  border-radius: 0.75rem;
}

.driver-popover .driver-popover-title {
  font-size: 1.25rem;
}

.driver-popover .driver-popover-title,
.driver-popover .driver-popover-description,
.driver-popover .driver-popover-progress-text {
  color: #fafafa;
}

.driver-popover button {
  flex: 1;
  text-align: center;
  background-color: #ff9900;
  color: #292929;
  border: 2px solid #ff9900;
  text-shadow: none;
  font-size: 14px;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.75rem;
}

.driver-popover button:hover {
  filter: brightness(90%);
  background-color: #ff9900;
}

.driver-popover button:focus {
  background-color: #ffbd1b;
  border: 2px solid #ffbd1b;
}

.driver-popover .driver-popover-navigation-btns {
  justify-content: space-between;
  gap: 3px;
}

.driver-popover .driver-popover-close-btn {
  display: none !important;
}

.driver-popover .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: #656565;
}

.driver-popover .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: #656565;
}

.driver-popover .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: #656565;
}

.driver-popover .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: #656565;
}
